.OneTask {
    display: grid;
    grid-template-columns: 1fr 45px 45px;
    margin-bottom: 15px;
    border-radius: 5px;
    gap: 10px;
    margin-top: 10px;
    &Label{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
        justify-items: center;
    }
    &Checkbox {
        width: 20px;
        height: 20px;
    }
    &TitleEdit{
        border-radius:  5px;
        border: 1px solid #b1b1b1;
        font: 1rem/1.4 "Gill Sans";
        color: #709c8d;
        margin-right: 10px; 
        box-shadow: 0 0px 0 -7px;
    }
    &Title{
        padding: 5px;
        line-height: 1.2;
        font-size: 30px;
    }
    &Edit {
        border-radius: 5px;
        border: none;
        cursor: pointer;
        padding: 0;
        background: #709c8d url('../images/edit.svg') no-repeat center;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    &Removed {  
        border-radius: 5px;
        border: none;
        padding: 0;
        cursor: pointer;
        background: #709c8d url('../images/trash.svg') no-repeat center;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    &Check {  
        border-radius: 5px;
        border: none;
        padding: 0;
        cursor: pointer;
        background: #709c8d url('../images/check.svg') no-repeat center;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}